<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>文件信息</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="file.type=='video' || file.type=='audio'">
      <video [vgMedia]="media" #media id="singleVideo" preload="auto" wdith="300px" height="300px" controls>
        <source src="/down/{{file.id}}" type="{{file.type}}/{{file.sub}}">
      </video>
    </ion-item>
    <ion-item *ngIf="file.type!='video' && file.type!='audio'">
      <img src="/t/{{file.id}}">
    </ion-item>
    <ion-item>
      <ion-label fixed>文件名</ion-label>
      <ion-input type="text" [ngModel]="file.name" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>类别</ion-label>
      <ion-input type="text" value="{{ file.type | fileType }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>类型</ion-label>
      <ion-input type="text" value="{{ file.sub }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>创建</ion-label>
      <ion-input type="text" value="{{ file.ct | date:'yyyy-MM-dd HH:mm:ss' }}" readonly></ion-input>
    </ion-item>
    <button ion-button (click)="download()">下载</button>
  </ion-list>
</ion-content>
