<ion-header>
  <ion-navbar>
    <ion-title>文件</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="files.news.length > 0">
    <ion-list-header>
      新上传文件
    </ion-list-header>
    <hd-files [files]="files.news" (selectFile)="onSelectFile($event)"></hd-files>
  </ion-list>
  <ion-list *ngFor="let d of files.days">
    <ion-list-header>
      {{ d | day }}
    </ion-list-header>
    <hd-files [files]="files.filesMap.get(d)" (selectFile)="onSelectFile($event)"></hd-files>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
